@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #8acbc0 !important;
}
.bg-success {
  background-color: #047d91 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #8acbc0;
  border-color: #8acbc0;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #55b3a3;
  border-color: #55b3a3;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #55b3a3 !important;
  border-color: #55b3a3 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #047d91;
  border-color: #047d91;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #023d47;
  border-color: #023d47;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #023d47 !important;
  border-color: #023d47 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #4aa596;
  color: #4aa596;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #8acbc0;
  border-color: #8acbc0;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #8acbc0 !important;
  border-color: #8acbc0 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #01272e;
  color: #01272e;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #047d91;
  border-color: #047d91;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #047d91 !important;
  border-color: #047d91 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #8acbc0 !important;
}
.text-success {
  color: #047d91 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #047d91;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #8acbc0;
}
.btn-social:hover {
  background: #8acbc0;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #8acbc0;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #8acbc0;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #8acbc0;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #8acbc0;
}
.lead a,
.lead a:hover {
  color: #8acbc0;
}
.lead blockquote {
  border-color: #8acbc0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #1cd9f9;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #8acbc0;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Open Sans', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Open Sans', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.features6 .feature-title {
  font-family: 'Open Sans', sans-serif;
}
.features6 .description {
  font-family: 'Open Sans', sans-serif;
}
.count,
.counter-title {
  font-family: 'Open Sans', sans-serif;
}
.counter-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-iconfont-counters1 {
  color: #8acbc0;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Open Sans', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader5 .container label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Open Sans', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Open Sans', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Open Sans', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader13 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extHeader13 .number {
  font-family: 'Open Sans', sans-serif;
}
.extHeader13 .period {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader13 .dot {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extFeatures .feature-text {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #8acbc0;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Open Sans', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extForm2 .container h3 {
  font-family: 'Open Sans', sans-serif;
}
.extForm2 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #8acbc0;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extPricingTable1 .mbr-plan-label {
  background: #8acbc0;
}
.extCounters2 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extCounters3 .count {
  font-family: 'Open Sans', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Open Sans', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #8acbc0;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #8acbc0;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #8acbc0;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Open Sans', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Open Sans', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #8acbc0;
}
.extAccordion1 .panel-heading a {
  font-family: 'Open Sans', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #8acbc0;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Open Sans', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #8acbc0;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #8acbc0;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #8acbc0;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extMsg-box1 .container h3 {
  font-family: 'Open Sans', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extMsg-box1 h4 {
  font-family: 'Open Sans', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Open Sans', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Open Sans', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #8acbc0 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #8acbc0;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #8acbc0;
}
.theme-border {
  border: 1px solid #8acbc0;
}
#header1-1 .mbr-section-title {
  text-align: center;
}
#content6-8 P {
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
}
#msg-box2-b .mbr-section-title {
  color: #00a885;
  font-size: 36px;
}
#msg-box2-b .mbr-section-subtitle {
  color: #ffffff;
}
#msg-box2-b .mbr-section-subtitle DIV {
  color: #ffffff;
}
#testimonials2-e .card-block P {
  text-align: left;
}
#testimonials2-e .mbr-section-subtitle {
  font-size: 24px;
}
#msg-box3-k .mbr-section-title,
#msg-box3-k p {
  color: #000;
}
#msg-box3-k .lead P {
  text-align: left;
  color: #ffffff;
}
#msg-box3-k .mbr-section-title {
  color: #f3c649;
}
#header5-v .mbr-section-title {
  color: #000;
}
#header5-v .mbr-section-lead {
  color: #9c9a9a;
}
#content5-p .mbr-section-title,
#content5-p p {
  color: #fff;
}






































#header1-10 .mbr-section-title {
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
}
#header1-10 .mbr-section-lead B {
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
}
#header2-1k .mbr-section-text {
  font-size: 18px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#header2-1k .mbr-section-title {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  color: #047d91;
}
#header2-1k .mbr-section-text SPAN {
  font-size: 18px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#header2-1k .mbr-section-text B {
  font-family: 'Open Sans', sans-serif;
  color: #047d91;
}
#msg-box7-1x .mbr-section-title,
#msg-box7-1x .lead p {
  color: #fff;
}
#msg-box7-1x H3 {
  font-size: 48px;
  text-align: center;
  color: #047d91;
  font-family: 'Open Sans', sans-serif;
}
#msg-box7-1x SPAN {
  text-align: right;
}
#msg-box3-1t .mbr-section-title,
#msg-box3-1t p {
  color: #000;
}
#msg-box3-1t .lead P {
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
#msg-box3-1t .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
#msg-box3-1t .btn {
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}
#features6-1y P {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#features6-1y H4 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
}
#header3-3k .mbr-section-title,
#header3-3k .mbr-section-subtitle {
  text-align: center;
}
#header3-3k H3 {
  font-family: 'Open Sans', sans-serif;
  color: #047d91;
}
#header3-3k SMALL {
  font-family: 'Open Sans', sans-serif;
  color: #8acbc0;
}
#header3-3k B {
  color: #047d91;
}
#content7-3j P {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
}
#buttons1-3l .btn {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
#slider-11 P {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 46px;
}
#slider-11 H2 {
  font-family: 'Open Sans', sans-serif;
}
#extHeader11-3p SPAN {
  font-size: 46px;
  font-family: 'Open Sans', sans-serif;
}
#extHeader11-3p .btn {
  font-size: 20px;
}
#extHeader12-3r H3 {
  color: #8acbc0;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}
#extHeader12-3r P {
  color: #545454;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}
#extHeader12-3r .btn {
  font-size: 19px;
}
#testimonials3-38 .mbr-section-title {
  color: #efefef;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
}
#testimonials3-38 .mbr-author-name {
  color: #ccc;
}
#testimonials3-38 .card-footer > div {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}
#testimonials3-38 .card-block P {
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
}
#header4-1i .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#header3-28 .mbr-section-title,
#header3-28 .mbr-section-subtitle {
  text-align: center;
}
#header3-28 SMALL {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  color: #047d91;
}
#header3-28 H3 {
  font-family: 'Open Sans', sans-serif;
  color: #047d91;
}
#buttons1-27 .btn {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-37 .mbr-section-title,
#msg-box3-37 p {
  color: #000;
}
#msg-box3-37 .mbr-section-title {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-37 .btn {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
#features4-34 .card-subtitle {
  color: #bcbcbc;
}
#features4-34 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-34 H4 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#features4-34 P {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#social-buttons2-1e .mbr-section-title,
#social-buttons2-1e .btn-social {
  color: #232323;
}
#social-buttons2-1e .mbr-section-title {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#header5-3c .mbr-section-title {
  color: #000;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
}
#header5-3c .mbr-section-lead {
  color: #000000;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}
#header5-3c .btn {
  font-family: 'Open Sans', sans-serif;
}
#extTestimonials5-3s .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  color: #047d91;
}
#extHeader11-40 SPAN {
  font-family: 'Open Sans', sans-serif;
}
